@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}
